.shopping-cart-actions {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.shopping-cart-actions-anchor a {
    color: black;
    text-decoration: none;
}

.shopping-cart-button {
    width: 10%;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
}

.shopping-cart-content {
    display: flex;
    justify-content: space-between;
}
