.without-item-container {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.without-item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}