.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 1.5rem;
    border: 1px solid #CCC;
    gap: 10px;
    font-size: 10px;
    max-width: 350px;
    min-width: 200px;
    box-shadow: 6px 3px 3px grey;
}

.card-container p {
    font-size: 18px;
}

.card-price {
    font-size: 16px;
    display: flex;
}

.card-container a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}
