.header-container {
    height: 3.5rem;
    width: 100%;
    background-color: black;
    /*min-width: 250px;*/
    /*max-width: 100%;*/
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-title-content {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 10px;
    color: white;
}

.header-icon {
    margin-top: -5px;
}

.header-title {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.header-title p {
    font-size: 22px;
}

.header-shopping-cart {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.header-shopping-cart-icon {
    margin-right: 0.2rem;
}

.header-shopping-cart p {
    color: white;
    font-size: 16px;
    margin-top: 1rem;
}
