.header-container {
    height: 3.5rem;
    width: 100%;
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-title-content {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 10px;
    color: white;
}

.header-icon {
    margin-top: -5px;
}

.header-title {
    margin-left: 0.5rem;
    margin-top: -10px;
}

.header-title a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.header-shopping-cart {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.header-shopping-cart-icon {
    margin-right: 0.2rem;
}

.header-shopping-cart p {
    color: white;
    font-size: 22px;
    margin-top: 10px;
}
